@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  background-color: #f8fafc; /* slate-50 */
  color: #1f2937; /* slate-800 */
}

#root {
  min-height: 100vh;
}